<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="row login-container">
    <div class="col-md-3 col-lg-4 d-none d-md-block"></div>
    <div class="col-sm-12 col-md-6 col-lg-4 p-5">
      <!-- Cuadro con el formulario -->
      <div class="card shadow-lg p-4 custom-card cuadroPrincipal">
        <div class="row justify-content-center w-130">
          <a class="navbar-brand mb-2 mb-lg-0 d-flex justify-content-center" href="#">
            <img src="./assets/img/logo_authoriza_v2.png" alt="Logo" class="logo-img">
          </a>
        </div>
        <br>
        <h3 class="text-center custom-welcome">Welcome</h3>
        <hr style="border: 2px solid rgb(255, 255, 255)">
        <!-- Campo email -->
        <div class="form-group m-2">
          <input type="email" class="form-control mt-2" placeholder="Email" formControlName="username">
        </div>
        <!-- Campo Contraseña -->
        <div class="form-group m-2">
          <input type="password" class="form-control mt-2" placeholder="Password">
        </div>
        <hr style="border: 2px solid rgb(255, 255, 255)">
        <!-- Contenedor para centrar el botón -->
        <div class="d-flex justify-content-center">
          <button type="submit" class="custom-btn">Sign in</button>
        </div>
        <div class="text-center mt-3">
          <a href="#" class="forgot-password-link">Forgot your password?</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-4 d-none d-md-block"></div>
  </div>
</div>
