.toast {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.toast.show {
  opacity: 1;
}

.toast-body {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.notification-container {
  position: fixed;
  bottom: 20px;
  right: 20px; 
  z-index: 9999;
}

.notification-card {
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px solid;
  border-radius: 500px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  transition: opacity 0.5s ease;
  opacity: 1;
}

.notification-card.success {
  border-color: #82B366;
  background-color: #D5E8D4;
  color: #5e8f42;
}

.notification-card.warning {
  border-color: #D6B656;  
  background-color: #FFF2CC;
  color: #977c2b;
}

.notification-card.danger {
  border-color: #B85450;
  background-color: #F8CECC;
  color: #b34945;
}

.notification-card.primary {
  border-color: #2196f3 ;
  background-color: #2196f3 ;
  color: black;
}

.notification-icon.success {
  fill: #5e8f42;
}

.notification-icon.warning {
  fill: #977c2b; 
}

.notification-icon.danger {
  fill: #b34945;
}
.notification-icon.primary {
  fill: black;
}

.notification-card svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 8px;
}

.notification-card {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.close-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;
  padding: 0;
  display: flex;
  align-items: center;
}