/* Contenido original del archivo app.component.scss cargado */

.clearfix {
  display: block;
  content: '';
  clear: both;
}

.sidebar {
  background-color: var(--sidebar-background-color);
  color: var(--primary-text-color);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 10;
}

.sidebar.collapsed {
  width: 0;
}

.sidebar .menu-item {
  padding: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--primary-text-color);
  transition: 0.3s;
}

.sidebar .menu-item:hover {
  background-color: var(--sidebar-hover-color);
}

.sidebar .menu-item svg {
  margin-right: 10px;
  fill: var(--icon-color);
}

.sidebar.collapsed .menu-item {
  padding-left: 0;
  justify-content: center;
}

.header {
  background-color: var(--header-background-color);
  color: var(--primary-text-color);
  padding: 15px;
  text-align: center;
  font-size: 1.5rem;
}

.main-content {
  margin-left: 250px;
  padding: 15px;
  transition: margin-left 0.5s;
}

.main-content.collapsed {
  margin-left: 0;
}

/* Nuevos estilos integrados */

/* Estilo para el contenedor del título */
.title-container {
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
  font-size: 1rem; /* Tamaño del texto del título */
  color: #6e6e6e; /* Color del texto del título */
  margin-bottom: 1rem; /* Espacio debajo del título */
  margin-top: 1rem;
  padding-left: 1.5rem;
}

.title-container svg {
  width: 20px; /* Tamaño del ícono SVG */
  height: 20px; /* Tamaño del ícono SVG */
  margin-right: 0.3rem; /* Espacio entre el ícono y el texto */
  fill: #6e6e6e; /* Color del ícono SVG */
}

/* Estilo de los íconos para el Status */
.status-icon {
  margin-right: 0.3rem;
  width: 16px; /* Ajusta el ancho a 16px o al tamaño que prefieras */
  height: 16px; /* Ajusta la altura a 16px o al tamaño que prefieras */
}

/* Clase para los íconos de pasos */
.step-icons {
  display: flex;
  align-items: center; /* Alinea verticalmente los íconos */
  position: relative; /* Para posicionar la línea */
}

.step-icon {
  width: 1.5em;
  height: 1.5em;
  z-index: 1; /* Para que los íconos estén por encima de la línea */
}

/* Agregar una línea horizontal que conecte los íconos */
.step-icons::before {
  content: '';
  position: absolute;
  top: 50%; /* Alinea la línea horizontalmente con los íconos */
  left: 0;
  right: 0;
  height: 2px; /* Grosor de la línea */
  background-color: #7011ce; /* Color de la línea */
  z-index: 0; /* La línea queda detrás de los íconos */
}

.step-icon:first-child::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 100%;
  height: 2px;
  background-color: transparent; /* Ocultar la línea a la izquierda del primer ícono */
}

.step-icon:last-child::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  right: 0;
  height: 2px;
  background-color: transparent; /* Ocultar la línea a la derecha del último ícono */
}
/* Estilo de los íconos del título */
.title-icon {
  margin-right: 0.3rem;
  width: 30px; 
  height: 30px; 
  color: #000;
}

.notification-container {
  position: fixed; /* Para hacerlo flotante */
  top: 10px; /* Ajusta la distancia desde la parte superior */
  right: 10px; /* Ajusta la distancia desde el lado derecho */
  width: 300px; /* Ajusta el ancho según lo necesites */
  background-color: transparent; /* Fondo con opacidad */
  border-radius: 5px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); Añade una sombra */
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  padding: 5px;
  transform: translateX(0); /* Alineado inicial */
}


.btn-spacing {
  margin-right: 8px; 
}

.actions-col {
  width: 1%; 
  white-space: nowrap;
}

.id-col {
  width: 1%;
  white-space: nowrap;
}

.actions-col button:hover {
  background-color: var(--sidebar-background-color);
  border-color: var(--sidebar-background-color); 
}

.rounded-badge {
  display: inline-block;
  width: 30px; /* Ajusta el tamaño según tu necesidad */
  height: 30px;
  line-height: 30px; /* Alinea el texto verticalmente */
  border-radius: 50%;
  text-align: center; /* Alinea el texto horizontalmente */
  padding: 0; /* Asegúrate de que no haya padding adicional */
}

.modal-header-custom {
  background-color: var(--sidebar-background-color); /* Usa el color del sidebar */
  color: #cccccc;
}

.modal-title {
  text-align: right;
  width: 100%; /* Asegura que el título ocupe todo el ancho para alinearlo a la derecha */
}

/* Estilo para el enlace en el contenedor del título */
.title-link {
  display: flex;
  align-items: center; /* Alinea el ícono y el texto verticalmente */
  color: #6e6e6e; /* Color del texto del enlace (debe coincidir con el color del texto normal) */
  text-decoration: none; /* Elimina el subrayado del enlace */
}

/* Efecto hover para el enlace (opcional) */
.title-link:hover {
  /* text-decoration: underline; Subraya el texto cuando se pasa el ratón sobre él */
  color: #4a4a4a; /* Cambia el color del texto del enlace cuando se pasa el ratón sobre él (opcional) */
}

/* Estilo para la tarjeta de contenido */
.card {
  border: 1px solid #cccccc; /* Quitar el borde predeterminado de la tarjeta */
  border-radius: 0.5rem; /* Bordes redondeados */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); /* Sombra de la tarjeta */
  background-color: #fff; /* Fondo blanco para la tarjeta */
}

.card-body {
  padding: 1.5rem; /* Espacio dentro de la tarjeta */
  margin-top: 0.1rem;
  /* color: var(--primary-text-color); Color del texto en la tarjeta */
}

/* Mantener el ancho de 100px en pantallas medianas o más grandes */
.btn-fixed-width {
  width: 100px;
}
.btn-fixed-width-cnf {
  width: 100px;
}

/* Quitar el ancho fijo en pantallas pequeñas */
@media (max-width: 768px) {
  .btn-fixed-width {
    width: auto;
  }
}

.custom-modal-header {
  border-bottom: 2px solid rgb(148, 77, 77);
}