/* Estilo para el contenedor del título */
.title-container {
  display: flex;
  align-items: center;
  font-size: 1.0rem;
  color: #6E6E6E;
  margin-bottom: 1rem;
  margin-top: 1rem;    
  padding-left: 1.5rem;
}

.title-container svg {
  width: 20px;
  height: 20px; 
  margin-right: 0.3rem;
  fill: #6E6E6E;
}

.title-link {
  display: flex;
  align-items: center;
  color: #6E6E6E;
  text-decoration: none;
}

.title-link:hover {
  color: #4A4A4A;
}

.card {
  border: 1px solid #cccccc;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.card-body {
  padding: 1.5rem; 
  margin-top: 0.1rem;
}
