<div class="container">
  <form [formGroup]="applicationForm" (ngSubmit)="onSubmit()">
    <!-- Caja amarilla -->
    <div *ngIf="isYellowVisible" class="yellow-box">
      <div class="form-group">
        <label for="applicationName">Application Name</label>
        <input
          id="applicationName"
          formControlName="applicationName"
          type="text"
        />
        <div
          *ngIf="
            applicationForm.get('applicationName')?.invalid &&
            applicationForm.get('applicationName')?.touched
          "
          class="error"
        >
          Application name is required.
        </div>
        <div *ngIf="nameAvailabilityMessage" class="availability-message">
          {{ nameAvailabilityMessage }}
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" formControlName="description"></textarea>
        <div
          *ngIf="
            applicationForm.get('description')?.invalid &&
            applicationForm.get('description')?.touched
          "
          class="error"
        >
          Description is required.
        </div>
      </div>
    </div>

    <!-- Caja azul -->
    <div *ngIf="isBlueVisible" class="blue-box">
      <div class="form-group">
        <!-- Centrando el botón "Choose file" -->
        <label for="logo">Logo URL</label>

        <button
          type="button"
          mat-stroked-button
          class="btn btn-outline-dark text-light btn-sm me-4 btn-fixed-width"
          [disabled]="selectedFile"
        >
          <label for="upload">
            <svg fill="currentColor" viewBox="0 0 16 16" class="status-icon">
              <use
                [attr.xlink:href]="
                  './assets/icons/bootstrap-icons.svg#file-earmark-arrow-up'
                "
              ></use>
            </svg>
            <span> Choose file </span>
            <input
              class="file-sing"
              #fileToSing
              #fileInput
              type="file" 
              hidden
              id="upload"
              accept=".jpg,.jpeg,.png"
              (change)="onFileSelected($event)"
              formControlName="logo"
            />
          </label>
        </button>

        <div
          *ngIf="
            applicationForm.get('logo')?.invalid &&
            applicationForm.get('logo')?.touched
          "
          class="error"
        >
          Logo URL is required.
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-center">
          <div class="wrapper-file d-inline-block">
            <div class="file">
              <img
                *ngIf="selectedFile"
                [src]="imagePreview"
                width="300"
                height="auto"
                alt="Image preview"
              />
            </div>
          </div>

          <div class="wrapper-action text-center">
            <span>{{ selectedFile?.name }}</span>

            <button
              *ngIf="selectedFile"
              class="btn-no-style"
              matTooltip="Remove file"
              matTooltipPosition="above"
              (click)="clearFile(fileInput)"
            >
              <svg fill="red" viewBox="0 0 16 16" class="status-icon">
                <use
                  [attr.xlink:href]="
                    './assets/icons/bootstrap-icons.svg#x-circle'
                  "
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer con los botones -->
    <div class="form-buttons">
      <button
        id="prevBtn"
        type="button"
        class="btn btn-outline-dark btn-sm me-4 btn-fixed-width"
        data-bs-toggle="tooltip"
        title="Previous"
        [disabled]="isPreviousDisabled()"
        (click)="onPrevious()"
      >
        <svg fill="currentColor" viewBox="0 0 16 16" class="status-icon">
          <use
            [attr.xlink:href]="'./assets/icons/bootstrap-icons.svg#arrow-left'"
          ></use>
        </svg>
        <span class="d-none d-md-inline">Previous</span>
      </button>

      <button
        type="button"
        class="btn btn-outline-dark btn-sm mx-4"
        data-bs-toggle="tooltip"
        title="Cancel"
        style="width: 100px"
        data-bs-dismiss="modal"
        (click)="onCancel()"
      >
        Cancel
      </button>

      <button
        id="nextBtn"
        type="button"
        class="btn btn-outline-dark btn-sm ms-4 btn-fixed-width"
        data-bs-toggle="tooltip"
        title="Next"
        (click)="onNext()"
        *ngIf="!isBlueVisible"
        [disabled]="isNextDisabled()"
      >
        <span class="d-none d-md-inline">Next</span>
        <svg fill="currentColor" viewBox="0 0 16 16" class="status-icon">
          <use
            [attr.xlink:href]="'./assets/icons/bootstrap-icons.svg#arrow-right'"
          ></use>
        </svg>
      </button>

      <button
        id="sendBtn"
        type="submit"
        class="btn btn-outline-dark btn-sm ms-4 btn-fixed-width"
        data-bs-toggle="tooltip"
        title="Send"
        *ngIf="isBlueVisible"
        [disabled]="!applicationForm.valid"
        data-bs-dismiss="modal"
      >
        <span class="d-none d-md-inline">Send</span>
        <svg fill="currentColor" viewBox="0 0 16 16" class="status-icon">
          <use
            [attr.xlink:href]="'./assets/icons/bootstrap-icons.svg#send'"
          ></use>
        </svg>
      </button>
    </div>
  </form>
</div>
