<div class="container">
  <form [formGroup]="applicationForm" (ngSubmit)="onSubmit()">
    
    <!-- Caja amarilla -->
    <div *ngIf="isYellowVisible" class="yellow-box">
      <div class="form-group">
        <label for="applicationName">Application Name </label>
        <input
          id="applicationName"
          formControlName="applicationName"
          type="text"
        />
        <div
          *ngIf="
            applicationForm.get('applicationName')?.invalid &&
            applicationForm.get('applicationName')?.touched
          "
          class="error"
        >
          Application name is required.
        </div>
        <div *ngIf="nameAvailabilityMessage" class="availability-message">
          {{ nameAvailabilityMessage }}
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" formControlName="description"></textarea>
        <div
          *ngIf="
            applicationForm.get('description')?.invalid &&
            applicationForm.get('description')?.touched
          "
          class="error"
        >
          Description is required.
        </div>
      </div>
    </div>

    <div *ngIf="isBlueVisible" class="blue-box">
      <div class="form-group">
        <label for="logo">Logo URL</label>

        <button
          type="button"
          mat-stroked-button
          class="btn btn-outline-dark text-light btn-sm me-4 btn-fixed-width"
          [disabled]="selectedFile || !!imageTmp"
        >
          <label for="upload">
            <svg fill="currentColor" viewBox="0 0 16 16" class="status-icon">
              <use
                [attr.xlink:href]="
                  './assets/icons/bootstrap-icons.svg#file-earmark-arrow-up'
                "
              ></use>
            </svg>
            <span> Choose file </span>
            <input
              class="file-sing"
              #fileToSing
              #fileInput
              type="file"
              hidden
              id="upload"
              accept=".jpg,.jpeg,.png"
              (change)="onFileSelected($event)"
              formControlName="logo"
            />
          </label>
        </button>

        <div
          *ngIf="
            applicationForm.get('logo')?.invalid &&
            applicationForm.get('logo')?.touched
          "
          class="error"
        >
          Logo URL is required.
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-center">
          <div class="wrapper-file d-inline-block">
            <div class="file">
              <!-- Mostrar imagen desde la URL en modo edición o desde el archivo seleccionado -->
              <img
                *ngIf="imagePreview"
                [src]="imagePreview"
                width="250"
                height="auto"
                alt="Image preview"
              />
            </div>
            <img
              *ngIf="imageTmp"
              [src]="imageTmp"
              alt="Image preview"
              width="300"
              height="auto"
            />
          </div>

          <div class="wrapper-action text-center">
            <span>{{ selectedFile?.name }}</span>

            <!-- Botón para eliminar archivo local -->
            <button
              *ngIf="selectedFile"
              class="btn-no-style"
              matTooltip="Remove file"
              matTooltipPosition="above"
              (click)="clearFile(fileInput)"
            >
              <svg fill="red" viewBox="0 0 16 16" class="status-icon">
                <use
                  [attr.xlink:href]="
                    './assets/icons/bootstrap-icons.svg#x-circle'
                  "
                ></use>
              </svg>
            </button>

            <!-- Botón para cambiar archivo en la nube -->
            <button
              *ngIf="!!imageTmp"
              class="btn-no-style"
              matTooltip="Remove file"
              matTooltipPosition="above"
              (click)="clearFileLocal()"
            >
              <svg fill="red" viewBox="0 0 16 16" class="status-icon">
                <use
                  [attr.xlink:href]="
                    './assets/icons/bootstrap-icons.svg#x-circle'
                  "
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isGreenVisible" class="tags-box">
      <div class="form-group">
        <label for="tags">Tags </label>
        <h6 class="roles-title">(Identifies, classifies, or labels information.)</h6>
        <table class="table table-bordered mt-2">
          <thead>
            <tr>
              <th>Tag</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody formArrayName="strTags">
            <tr
              *ngFor="let tag of strTags.controls; let i = index"
              [formGroupName]="i"
            >
              <td>
                <input
                  type="text"
                  formControlName="tag"
                  placeholder="Enter a tag"
                  class="form-control"
                />
              </td>
              <td class="text-center">
                <button
                  type="button"
                  (click)="removeTag(i)"
                  class="icon-button"
                >
                  <svg fill="red" viewBox="0 0 16 16" class="status-icon">
                    <use
                      [attr.xlink:href]="
                        './assets/icons/bootstrap-icons.svg#x-circle'
                      "
                    ></use>
                  </svg>
                </button>
              </td>
              
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-outline-dark" (click)="addTag()">
          Add Tag
        </button>
        <div
          *ngIf="
            applicationForm.get('strTags')?.invalid &&
            applicationForm.get('strTags')?.touched
          "
          class="error"
        >
          At least one tag is required.
        </div>
      </div>
    </div>

    <!-- Footer con los botones -->
    <div class="form-buttons">
      <button
  *ngIf="isBlueVisible || isGreenVisible"
  id="prevBtn"
  type="button"
  class="btn btn-outline-dark btn-sm me-4 btn-fixed-width"
  (click)="onPrevious()"
>
  <svg fill="currentColor" viewBox="0 0 16 16" class="status-icon">
    <use xlink:href="./assets/icons/bootstrap-icons.svg#arrow-left"></use>
  </svg>
  <span class="d-none d-md-inline">Previous</span>
</button>

      <button
        type="button"
        class="btn btn-outline-dark btn-sm mx-4"
        data-bs-toggle="tooltip"
        title="Cancel"
        style="width: 100px"
        data-bs-dismiss="modal"
        (click)="onCancel()"
      >
        Cancel
      </button>

      <!-- Botón Next (Visible en pasos 1 y 2) -->
      <button
        id="nextBtn"
        type="button"
        class="btn btn-outline-dark btn-sm ms-4 btn-fixed-width"
        data-bs-toggle="tooltip"
        title="Next"
        (click)="onNext()"
        *ngIf="isYellowVisible || isBlueVisible"
        [disabled]="isNextDisabled()"
      >
        <span class="d-none d-md-inline">Next</span>
        <svg fill="currentColor" viewBox="0 0 16 16" class="status-icon">
          <use
            [attr.xlink:href]="'./assets/icons/bootstrap-icons.svg#arrow-right'"
          ></use>
        </svg>
      </button>

      <!-- Botón Send (Visible solo en el paso 3) -->
      <button
        *ngIf="isGreenVisible"
        id="sendBtn"
        type="submit"
        class="btn btn-outline-dark btn-sm ms-4 btn-fixed-width"
        data-bs-toggle="tooltip"
        title="Add"
        [disabled]="!applicationForm.valid"
        data-bs-dismiss="modal"
      >
        <span class="d-none d-md-inline">Add</span>
      
      </button>

      <button
        *ngIf="isEditMode"
        id="updateBtn"
        type="submit"
        class="btn btn-outline-dark btn-sm ms-4 btn-fixed-width"
        [disabled]="!applicationForm.valid"
      >
        <span class="d-none d-md-inline">Update</span>
        <svg fill="currentColor" viewBox="0 0 16 16" class="status-icon">
          <use
            [attr.xlink:href]="'./assets/icons/bootstrap-icons.svg#send'"
          ></use>
        </svg>
      </button>
    </div>

  </form>
</div>
