<div class="title-container">
  <a href="/roles" class="title-link">
    <svg viewBox="0 0 16 16">
      <use xlink:href="./assets/icons/bootstrap-icons.svg#person-vcard" />
    </svg>
    /roles
  </a>
</div>
<div class="card shadow m-3">
  <div class="card-body">
    <h5 class="card-title text-nowrap bg-body-secondary border" style="width: 14.6rem;">Application Management <b>User Roles</b>.</h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Description 1</th>
          <th scope="col">Description 2</th>
          <th scope="col">Application</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (rol of roles; track rol.id) {
        <tr>
          <th scope="row">
            <span
              class="badge"
              style="background-color: var(--header-icon-color)"
            >
              {{ rol.id }}
            </span>
          </th>
          <td>{{ rol.strname }}</td>
          <td>{{ rol.strdescription1 }}</td>
          <td>{{ rol.strdescription2 }}</td>
          <td>{{ getApplicationName(rol.ingidapplication) }}</td>
          <td>
            <div
              class="btn-group btn-group-sm"
              role="group"
              aria-label="Small button group"
            >
              <a href="#" class="text-danger">
                <svg
                  fill="currentColor"
                  viewBox="0 0 16 16"
                  class="status-icon"
                >
                  <use
                    [attr.xlink:href]="
                      './assets/icons/bootstrap-icons.svg#trash3'
                    "
                  ></use>
                </svg>
              </a>
              <a href="#" class="text-primary">
                <svg
                  fill="currentColor"
                  viewBox="0 0 16 16"
                  class="status-icon"
                >
                  <use
                    [attr.xlink:href]="
                      './assets/icons/bootstrap-icons.svg#pencil'
                    "
                  ></use>
                </svg>
              </a>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
