<!-- Contenedor flotante (derecha) -->
<div class="notification-container">
  <ng-container *ngFor="let notification of notifications; let i = index">
    <app-notifications
      *ngIf="notification.container === 0 && notification.visible"
      [title]="notification.title"
      [type]="notification.type"
      [alertType]="notification.alertType"
      (close)="removeNotification(i)"
    ></app-notifications>
  </ng-container>
</div>

<!-- Contenedor superior -->
<div class="notification-container-1 p-1 w-100">
  <ng-container *ngFor="let notification of notifications; let i = index">
    <app-notifications
      *ngIf="notification.container === 1 && notification.visible"
      [title]="notification.title"
      [type]="notification.type"
      [alertType]="notification.alertType"
      (close)="removeNotification(i)"
    ></app-notifications>
  </ng-container>
</div>
<div class="title-container">
  <a href="/users" class="title-link">
    <svg viewBox="0 0 16 16">
      <use xlink:href="./assets/icons/bootstrap-icons.svg#people-fill" />
    </svg>
    /users
  </a>
</div>

<div class="card shadow m-3">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center w-100 mb-3">
      <h5
        class="card-title text-nowrap bg-body-secondary border"
        style="width: 2.8rem"
      >
        User <b>Management</b>.
      </h5>
      <div class="btn-group ms-auto custom-btn-group">
        <a
          title="Add new user"
          class="btn btn-sm btn-light"
          (click)="openAddUserModal()"
        >
          <svg
            fill="currentColor"
            viewBox="0 0 16 16"
            style="width: 1rem; height: 1rem"
            class="title-icon"
          >
            <use
              xlink:href="./assets/icons/bootstrap-icons.svg#plus-square-fill"
            ></use>
          </svg>
        </a>
      </div>
    </div>

    <div class="row mb-3">
      <!-- Buscador por nombre/email -->
      <div class="col-sm-12 col-md-6 mb-2 mb-md-0">
        <div class="subtitle">
          <h6 class="users-titleOne">Search by name, email, or application</h6>
        </div>
        <div
          class="input-group"
          style="
            border: 1px solid var(--sidebar-background-color);
            border-radius: 0.375rem;
            overflow: hidden;
          "
        >
          <input
            type="text"
            class="form-control custom-search-input"
            placeholder="Write some words to filter"
            [(ngModel)]="searchTerm"
            (input)="onSearch()"
          />
          <button
            *ngIf="searchTerm"
            class="input-group-text bg-transparent border-0 fw-bold text-danger"
            style="cursor: pointer"
            (click)="clearSearch()"
          >
            <svg
              fill="currentColor"
              viewBox="0 0 16 16"
              style="width: 1rem; height: 1rem"
            >
              <use xlink:href="./assets/icons/bootstrap-icons.svg#x-circle" />
            </svg>
          </button>
          <span class="input-group-text bg-transparent border-0">
            <svg
              fill="currentColor"
              viewBox="0 0 16 16"
              style="
                width: 1rem;
                height: 1rem;
                color: var(--primary_active_text_color);
              "
            >
              <use xlink:href="./assets/icons/bootstrap-icons.svg#search" />
            </svg>
          </span>
        </div>
      </div>

      <!-- Buscador por dependencia -->
      <div class="col-sm-12 col-md-6">
        <div class="subtitle">
          <h6 class="users-titleOne">Filter by dependency</h6>
        </div>
        <div
          class="input-group"
          style="
            border: 1px solid var(--sidebar-background-color);
            border-radius: 0.375rem;
            overflow: hidden;
          "
        >
          <input
            type="text"
            class="form-control custom-search-input"
            placeholder="Filter by leader ID"
            [(ngModel)]="dependentId"
          />
          <button
            *ngIf="dependentId"
            class="input-group-text bg-transparent border-0 fw-bold text-danger"
            style="cursor: pointer"
            (click)="clearDependenceFilter()"
          >
            <svg
              fill="currentColor"
              viewBox="0 0 16 16"
              style="width: 1rem; height: 1rem"
            >
              <use xlink:href="./assets/icons/bootstrap-icons.svg#x-circle" />
            </svg>
          </button>
          <button
            class="input-group-text bg-transparent border-0 fw-bold text-primary"
            style="cursor: pointer"
            (click)="filterByDependent()"
          >
            <svg
              fill="currentColor"
              viewBox="0 0 16 16"
              style="width: 1rem; height: 1rem"
            >
              <use xlink:href="./assets/icons/bootstrap-icons.svg#search" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Contador con número de página -->
    <div
      *ngIf="filteredUsers.length > 0"
      class="d-flex justify-content-between align-items-center mb-2 small text-muted pt-2"
      style="
        font-size: 0.875rem;
        color: var(--sidebar_background_color);
        border-top: 1px solid var(--sidebar-background-color);
      "
    >
      <div>
        Showing {{ pagedUsers.length }} of {{ filteredUsers.length }} users
      </div>
      <div>Página {{ currentPage }} de {{ totalPages }}</div>
    </div>
    <!-- Mensaje cuando no hay resultados -->
    <div
      *ngIf="filteredUsers.length === 0"
      class="text-center text-danger fw-semibold m-3"
    >
      No results were found.
    </div>

    <!-- Tabla de usuarios -->
    <table class="table table-hover table-sm table-bordered" style="font-size: 14px">
      <thead>
        <tr class="table-light">
          <th class="text-center d-none d-md-table.block">Id</th>
          <th class="text-center">User Name</th>
          <th class="text-center">Name</th>
          <th class="text-center">Application</th>
          <th class="text-center">Role</th>
          <th class="text-center">State</th>
          <th class="text-center d-none d-lg-table-block">Update date</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let user of pagedUsers"
          [ngClass]="{ 'table-active': selectedUser?.id === user.id }"
          [class.deleted]="user.isDeleted"
        >
          <td class="text-center d-none d-md-table.block">
            <span
              class="badge"
              style="background-color: var(--header-icon-color)"
              >{{ user.id }}</span
            >
          </td>
          <td >
            {{ user.strUserName }}
            <span
              *ngIf="(user.dependentCount ?? 0) > 0"
              class="badge-default badge rounded-pill"
              title="Dependent users"
            >
              {{ user.dependentCount }}
            </span>
          </td>

          <td>{{ getFullName(user) }}</td>
          <td class="text-center">
            {{ getApplicationName(user).toUpperCase() }}
          </td>
          <td class="text-center">{{ user.rol?.strDescription1 || "-" }}</td>
          <td class="text-center position-relative">
            <!-- Mostrar estado DELETED si el usuario está borrado -->
            <ng-container *ngIf="user.isDeleted; else statusNormal">
              <span class="text-secondary fw-semibold">
                <svg
                  fill="currentColor"
                  viewBox="0 0 16 16"
                  class="status-icon me-1"
                >
                  <use
                    xlink:href="./assets/icons/bootstrap-icons.svg#slash-circle"
                  />
                </svg>
                <span class="d-none d-lg-inline">DELETED</span>
              </span>
            </ng-container>

            <!-- Mostrar estado editable si no está borrado -->
            <ng-template #statusNormal>
              <a
                class="status-toggle text-decoration-none fw-semibold"
                [ngClass]="{
                  'text-success': user.strStatus === 'ACTIVE',
                  'text-danger': user.strStatus === 'INACTIVE'
                }"
                (click)="toggleStatusMenu(user)"
              >
                <svg
                  fill="currentColor"
                  viewBox="0 0 16 16"
                  class="status-icon me-1"
                >
                  <use
                    [attr.xlink:href]="
                      './assets/icons/bootstrap-icons.svg#' +
                      (user.strStatus === 'ACTIVE'
                        ? 'emoji-smile'
                        : 'emoji-frown')
                    "
                  ></use>
                </svg>
                <span>{{ user.strStatus }}</span>
              </a>

              <div
                *ngIf="showingMenuUser === user"
                class="status-dropdown position-absolute bg-white border rounded shadow p-2 mt-1"
                style="z-index: 1000; min-width: 150px; right: 0"
              >
                <div
                  *ngFor="let status of allowedStatuses"
                  (click)="onChangeStatus(user, status)"
                  class="dropdown-item cursor-pointer"
                  [ngClass]="{
                    'text-success': status === 'ACTIVE',
                    'text-danger': status === 'INACTIVE'
                  }"
                >
                  {{ status }}
                </div>
              </div>
            </ng-template>
          </td>

          <td class="text-center d-none d-lg-table-block">
            {{ user.dtmLatestUpdateDate | date : "dd/MM/yyyy" }}
          </td>
          <td class="text-center">
            <div
              class="btn-group btn-group-sm"
              role="group"
              aria-label="Small button group"
            >
              <a
                style="color: var(--sidebar-background-color); cursor: pointer"
                (click)="showUserDetails(user)"
              >
                <svg
                  fill="currentColor"
                  viewBox="0 0 16 16"
                  class="status-icon"
                >
                  <use xlink:href="./assets/icons/bootstrap-icons.svg#eye" />
                </svg>
              </a>
              <!-- Mostrar botón solo si el usuario NO está eliminado -->
              <a
                *ngIf="!user.isDeleted"
                style="color: var(--sidebar-background-color); cursor: pointer"
                (click)="removeUser(user)"
              >
                <svg
                  fill="currentColor"
                  viewBox="0 0 16 16"
                  class="status-icon"
                >
                  <use xlink:href="./assets/icons/bootstrap-icons.svg#trash" />
                </svg>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Paginación personalizada con íconos -->
    <nav
      *ngIf="totalPages > 1"
      class="custom-pagination d-flex justify-content-center"
    >
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button
            class="page-link d-flex align-items-center"
            (click)="goToPage(currentPage - 1)"
          >
            <svg
              fill="currentColor"
              width="16"
              height="16"
              style="margin-right: 4px"
            >
              <use
                xlink:href="./assets/icons/bootstrap-icons.svg#chevron-left"
              />
            </svg>
            Previous
          </button>
        </li>
        <li
          class="page-item"
          *ngFor="let page of [].constructor(totalPages); let i = index"
          [class.active]="currentPage === i + 1"
        >
          <button class="page-link" (click)="goToPage(i + 1)">
            {{ i + 1 }}
          </button>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <button
            class="page-link d-flex align-items-center"
            (click)="goToPage(currentPage + 1)"
          >
            Next
            <svg
              fill="currentColor"
              width="16"
              height="16"
              style="margin-left: 4px"
            >
              <use
                xlink:href="./assets/icons/bootstrap-icons.svg#chevron-right"
              />
            </svg>
          </button>
        </li>
      </ul>
    </nav>

    <!-- Tarjeta de detalles del usuario seleccionado -->
    <app-user-details
      *ngIf="selectedUser"
      [user]="selectedUser"
      [usersList]="users"
      (cancel)="closeUserDetails()"
      (userUpdated)="refreshSelectedUser()"
    ></app-user-details>

    <!-- modal con el formulario para agregar un nuevo usuario -->
    <app-add-user-modal
      *ngIf="showAddUserModal"
      (close)="onClose()"
      (close2)="onClose2()"
      (userCreated)="onUserCreated($event)"
    >
    </app-add-user-modal>
  </div>
</div>
