/* Estilo para el contenedor del título */
.title-container {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #6e6e6e;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-left: 1.5rem;
}

.title-container svg {
  width: 20px; 
  height: 20px; 
  margin-right: 0.3rem;
  fill: #6e6e6e;
}

/* Estilo de los íconos para el Status */
.status-icon {
  margin-right: 0.3rem;
  width: 16px;
  height: 16px;
}

.custom-search-input {
  color: var(--primary_active_text_color);
  background-color: #E3F7FF;
  opacity: 0.8;
  border: none;
}


/* Estilo para el enlace en el contenedor del título */
.title-link {
  display: flex;
  align-items: center; 
  color: #6e6e6e;
  text-decoration: none;
}

/* Efecto hover para el enlace (opcional) */
.title-link:hover {
  /* text-decoration: underline; Subraya el texto cuando se pasa el ratón sobre él */
  color: #4a4a4a;
}

/* Estilo para la tarjeta de contenido */
.card {
  border: 1px solid #cccccc;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.card-body {
  padding: 1.5rem;
  margin-top: 0.1rem;
  /* color: var(--primary-text-color); Color del texto en la tarjeta */
}

.subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.users-titleOne {
  margin: 0;
  font-size: 0.8rem;
  /* font-weight: bold; */
}