<div class="container">
  <form [formGroup]="optionMenuForm" (ngSubmit)="onSubmit()">
    
    <!-- Paso 1 -->
    <div *ngIf="isYellowVisible" class="yellow-box">
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" formControlName="name" type="text" />
        <div *ngIf="optionMenuForm.get('name')?.invalid && optionMenuForm.get('name')?.touched" class="error">
          Name is required.
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" formControlName="description"></textarea>
        <div *ngIf="optionMenuForm.get('description')?.invalid && optionMenuForm.get('description')?.touched" class="error">
          Description is required.
        </div>
      </div>
    </div>

    <!-- Paso 2 -->
    <div *ngIf="isBlueVisible" class="blue-box">
      <div class="form-group">
        <label for="url">URL</label>
        <input id="url" formControlName="url" type="text" />
        <div *ngIf="optionMenuForm.get('url')?.invalid && optionMenuForm.get('url')?.touched" class="error">
          URL is required.
        </div>
      </div>

      <div class="form-group">
        <label for="icon">Icon</label>
        <input id="icon" formControlName="icon" type="text" />
        <div *ngIf="optionMenuForm.get('icon')?.invalid && optionMenuForm.get('icon')?.touched" class="error">
          Icon is required.
        </div>
      </div>
    </div>

    <!-- Paso 3 -->
    <div *ngIf="isGreenVisible" class="tags-box">
      <div class="form-group">
        <label for="type">Type</label>
        <input id="type" formControlName="type" type="text" />
        <div *ngIf="optionMenuForm.get('type')?.invalid && optionMenuForm.get('type')?.touched" class="error">
          Type is required.
        </div>
      </div>

      <div class="form-group">
        <label for="order">Order</label>
        <input id="order" formControlName="order" type="number" />
        <div *ngIf="optionMenuForm.get('order')?.invalid && optionMenuForm.get('order')?.touched" class="error">
          Order must be a number.
        </div>
      </div>

      <div class="form-group">
        <label for="submenu">Has Submenu?</label>
        <select id="submenu" formControlName="submenu">
          <option value="">Select</option>
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
        <div *ngIf="optionMenuForm.get('submenu')?.invalid && optionMenuForm.get('submenu')?.touched" class="error">
          Please select an option.
        </div>
      </div>
    </div>

    <!-- Botones -->
    <div class="form-buttons">
      <button
  *ngIf="isBlueVisible || isGreenVisible"
  id="prevBtn"
  type="button"
  class="btn btn-outline-dark btn-sm me-4 btn-fixed-width"
  (click)="onPrevious()"
>
  <svg fill="currentColor" viewBox="0 0 16 16" class="status-icon">
    <use xlink:href="./assets/icons/bootstrap-icons.svg#arrow-left"></use>
  </svg>
  <span class="d-none d-md-inline">Previous</span>
</button>

<button
type="button"
class="btn btn-outline-dark btn-sm mx-4 btn-fixed-width"
data-bs-dismiss="modal"
(click)="onCancel()"
>
Cancel
</button>

      <!-- Botón Next (Visible en pasos 1 y 2) -->
      <button
        id="nextBtn"
        type="button"
        class="btn btn-outline-dark btn-sm ms-4 btn-fixed-width"
        (click)="onNext()"
        *ngIf="isYellowVisible || isBlueVisible"
        [disabled]="isNextDisabled()"
      >
        <span class="d-none d-md-inline">Next</span>
        <svg fill="currentColor" viewBox="0 0 16 16" class="status-icon">
          <use xlink:href="./assets/icons/bootstrap-icons.svg#arrow-right"></use>
        </svg>
      </button>

      <!-- Botón Send (Visible solo en el paso 3) -->
      <button
        *ngIf="isGreenVisible"
        id="sendBtn"
        type="submit"
        class="btn btn-outline-dark btn-sm ms-4 btn-fixed-width"
        [disabled]="!optionMenuForm.valid"
      >
        <span class="d-none d-md-inline">Send</span>
        
      </button>
    </div>
  </form>
</div>
