<div class="modal-backdrop show"></div>
<div class="modal d-block fade show" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="card shadow-sm user-details-card">
        <div
          class="card-header d-flex justify-content-between align-items-center"
          style="background-color: #6900d1; color: white"
        >
          Creatting a new user
        </div>
      </div>

      <div class="modal-body">
        <div class="container-fluid">
          <form *ngIf="currentStep === 1" [formGroup]="userForm">
            <h6>User Data</h6>
            <div class="form-group">
              <label for="applicationName">User Name</label>
              <input
                formControlName="strUserName"
                placeholder="Email"
                class="form-control mb-1"
              />
            </div>
            <div
              class="text-danger mb-2"
              *ngIf="userForm.get('strUserName')?.touched && userForm.get('strUserName')?.errors?.['taken']"
            >
              This email is unavailable. Please try another.
            </div>
            <div
              *ngIf="userForm.get('strUserName')?.touched && userForm.get('strUserName')?.errors?.['required']"
              class="text-danger small mb-2"
            >
              This field is required
            </div>
            <div
              *ngIf="userForm.get('strUserName')?.touched && userForm.get('strUserName')?.errors?.['email']"
              class="text-danger small mb-2"
            >
              The email format is not valid.
            </div>
          </form>

          <form *ngIf="currentStep === 2" [formGroup]="basicDataForm">
            <h6>Basic data</h6>
            <div class="form-group">
              <label for="applicationName">Person Type</label>
              <select formControlName="strPersonType" class="form-select mb-2">
                <option value="N">Natural Person</option>
                <option value="J">Legal Entity</option>
              </select>
            </div>
          </form>

          <form
            *ngIf="
              currentStep === 3 && basicDataForm.value.strPersonType === 'N'
            "
            [formGroup]="naturalForm"
          >
            <h6>Natural Person Data</h6>
            <div class="form-group">
              <label for="applicationName">First Name</label>
              <input
                formControlName="firstName"
                placeholder="First name"
                class="form-control mb-2"
              />
            </div>
            <div class="form-group">
              <label for="applicationName">Second Name</label>
              <input
                formControlName="secondName"
                placeholder="Second name"
                class="form-control mb-2"
              />
            </div>
            <div class="form-group">
              <label for="applicationName">First Surname</label>
              <input
                formControlName="firstSurname"
                placeholder="First surname"
                class="form-control mb-2"
              />
            </div>
            <div class="form-group">
              <label for="applicationName">Second Surname</label>
              <input
                formControlName="secondSurname"
                placeholder="Second surname"
                class="form-control mb-2"
              />
            </div>
            <div class="form-group">
              <label for="applicationName">Birth Date</label>
              <input
                type="date"
                formControlName="birthDate"
                class="form-control mb-2"
              />
            </div>
            <div class="form-group">
              <label for="applicationName">Marital Status</label>
              <input
                formControlName="maritalStatus"
                placeholder="Marital Status"
                class="form-control mb-2"
              />
            </div>
            <div class="form-group">
              <label for="applicationName">Sex</label>
              <input
                formControlName="sex"
                placeholder="Sex"
                class="form-control mb-2"
              />
            </div>
          </form>

          <form
            *ngIf="
              currentStep === 3 && basicDataForm.value.strPersonType === 'J'
            "
            [formGroup]="legalForm"
          >
            <h6>Legal Entity Data</h6>
            <div class="form-group">
              <label for="applicationName">Business Name</label>
              <input
                formControlName="businessName"
                placeholder="Bussiness name"
                class="form-control mb-2"
              />
            </div>
            <div class="form-group">
              <label for="applicationName">Website</label>
              <input
                formControlName="webSite"
                placeholder="Web site"
                class="form-control mb-2"
              />
            </div>
            <div class="form-group">
              <label for="applicationName">Contact Name</label>
              <input
                formControlName="contactName"
                placeholder="Contact name"
                class="form-control mb-2"
              />
            </div>
            <div class="form-group">
              <label for="applicationName">Contact Email</label>
              <input
                formControlName="contactEmail"
                placeholder="Contact email"
                class="form-control mb-2"
              />
            </div>
            <div class="form-group">
              <label for="applicationName">Contact Phone</label>
              <input
                formControlName="contactPhone"
                placeholder="Contact phone"
                class="form-control mb-2"
              />
            </div>
          </form>

          <div *ngIf="currentStep === 4 && createdUserId">
            <app-assign-role-modal
              [userId]="createdUserId"
              (roleAssigned)="onRoleAssigned()"
            ></app-assign-role-modal>
          </div>
          <!-- Step 5: Asignar dependencia -->
          <div *ngIf="currentStep === 5 && createdUserId">
            <app-assign-dependency
              [currentUser]="createdUserId"
              (dependencyAssigned)="onDependencyAssigned()"
            ></app-assign-dependency>
          </div>

          <div class="form-buttons">
            <button
              [disabled]="!(currentStep === 2 || currentStep === 3)"
              class="btn btn-outline-dark btn-sm me-4 btn-fixed-width"
              (click)="prevStep()"
              type="button"
            >
              <svg fill="currentColor" viewBox="0 0 16 16" class="status-icon">
                <use
                  xlink:href="./assets/icons/bootstrap-icons.svg#arrow-left"
                ></use>
              </svg>
              <span class="d-none d-md-inline">Previous</span>
            </button>

            <button
              class="btn btn-outline-dark btn-sm mx-4 btn-fixed-width"
              type="button"
              (click)="close2.emit()"
            >
              Cancel
            </button>
            <button
              *ngIf="currentStep === 1"
              class="btn btn-outline-dark btn-sm me-4 btn-fixed-width"
              type="button"
              [disabled]="userForm.invalid"
              (click)="createUser()"
            >
              <span class="d-none d-md-inline">Next</span>
              <svg fill="currentColor" viewBox="0 0 16 16" class="status-icon">
                <use
                  xlink:href="./assets/icons/bootstrap-icons.svg#arrow-right"
                ></use>
              </svg>
            </button>
            <button
              *ngIf="currentStep === 2"
              class="btn btn-outline-dark btn-sm me-4 btn-fixed-width"
              type="button"
              (click)="createBasicData()"
            >
              <span class="d-none d-md-inline">Next</span>
              <svg fill="currentColor" viewBox="0 0 16 16" class="status-icon">
                <use
                  xlink:href="./assets/icons/bootstrap-icons.svg#arrow-right"
                ></use>
              </svg>
            </button>
            <button
              *ngIf="
                currentStep === 3 && basicDataForm.value.strPersonType === 'N'
              "
              class="btn btn-outline-dark btn-sm me-4 btn-fixed-width"
              type="button"
              (click)="finish()"
            >
              <span class="d-none d-md-inline">Send</span>
              <svg fill="currentColor" viewBox="0 0 16 16" class="status-icon">
                <use xlink:href="./assets/icons/bootstrap-icons.svg#send"></use>
              </svg>
            </button>
            <button
              *ngIf="
                currentStep === 3 && basicDataForm.value.strPersonType === 'J'
              "
              class="btn btn-outline-dark btn-sm me-4 btn-fixed-width"
              type="button"
              (click)="finish()"
            >
              <span class="d-none d-md-inline">Send</span>
              <svg fill="currentColor" viewBox="0 0 16 16" class="status-icon">
                <use xlink:href="./assets/icons/bootstrap-icons.svg#send"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
