<!-- contrato.component.html -->
<div class="modal-backdrop show"></div>
<div class="modal d-block fade show" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <!-- Título del Modal con Íconos de Paso -->
      <div class="modal-header justify-content-between modal-header-custom">
        <!-- Íconos de Pasos con línea de unión -->
        <div class="step-icons d-flex position-relative">
          <!-- Ícono para el paso 1 -->
          <svg viewBox="0 0 16 16" fill="currentColor" class="step-icon">
            <use
              [attr.xlink:href]="
                './assets/icons/bootstrap-icons.svg#' +
                (showStp1 ? '1-circle-fill' : '1-circle')
              "
            ></use>
          </svg>
          <!-- Ícono para el paso 2 -->
          <svg viewBox="0 0 16 16" fill="currentColor" class="step-icon ms-2">
            <use
              [attr.xlink:href]="
                './assets/icons/bootstrap-icons.svg#' +
                (showStp2 ? '2-circle-fill' : '2-circle')
              "
            ></use>
          </svg>
          <!-- Ícono para el paso 3 -->
          <svg viewBox="0 0 16 16" fill="currentColor" class="step-icon ms-2">
            <use
              [attr.xlink:href]="
                './assets/icons/bootstrap-icons.svg#' +
                (showStp3 ? '3-circle-fill' : '3-circle')
              "
            ></use>
          </svg>
        </div>
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Add a New <span style="color: white">Contract</span>
        </h1>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <!-- Paso 1 -->
          <div class="basic-package-form" *ngIf="step1">
            <!-- Título -->
            <div
              class="d-flex align-items-center pb-3 mb-2"
              style="border-bottom: 1px solid var(--sidebar-background-color)"
            >
              <div class="title-form">SELECT A PRIMARY USER</div>
            </div>

            <!-- Buscador -->
            <div>
              <div
                class="card p-0 mb-1"
                style="background-color: rgb(243, 239, 255)"
              >
                <div class="card-body py-2 px-3">
                  <small class="text-muted">
                    <label class="form-label mb-1">
                      Enter part of the username or first/last name
                    </label>
                  </small>

                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      [formControl]="search"
                      placeholder="Type a word here"
                      aria-label="Search users"
                    />
                    <button
                      class="btn btn-outline-secondary"
                      type="button"
                      (click)="search.setValue('')"
                    >
                      <app-icon name="x-circle" size="16"></app-icon>
                    </button>
                  </div>
                  <small class="text-muted" style="font-size: 0.7rem">
                    If you can't find it, please create it in the Users Module
                  </small>
                </div>
              </div>
            </div>

            <!-- Tabla de usuarios -->
            <div class="user-list mt-4">
              <small class="text-muted">List of primary users found</small>

              <table
                class="table table-hover table-sm table-bordered"
                style="font-size: 13px"
              >
                <thead class="table-light">
                  <tr>
                    <th>User Name</th>
                    <th>Name</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let user of paginatedUsers"
                    [class.table-success]="selectedUser?.id === user.id"
                  >
                    <td>{{ user.strUserName }}</td>

                    <td>
                      <ng-container
                        *ngIf="
                          user.basicData?.naturalPersonData;
                          else legalEntity
                        "
                      >
                        {{ user.basicData?.naturalPersonData?.firstName }}
                        {{
                          user.basicData?.naturalPersonData?.secondName
                            ? " " +
                              user.basicData?.naturalPersonData?.secondName
                            : ""
                        }}
                        {{
                          " " + user.basicData?.naturalPersonData?.firstSurname
                        }}
                        {{
                          user.basicData?.naturalPersonData?.secondSurname
                            ? " " +
                              user.basicData?.naturalPersonData?.secondSurname
                            : ""
                        }}
                      </ng-container>

                      <ng-template #legalEntity>
                        {{
                          user.basicData?.legalEntityData?.businessName || "-"
                        }}
                      </ng-template>
                    </td>

                    <td class="text-center">
                      <button
                        class="btn btn-sm"
                        [ngClass]="{
                          'btn-success': selectedUser?.id === user.id,
                          'btn-outline-primary': selectedUser?.id !== user.id
                        }"
                        (click)="selectedUser = user"
                        [disabled]="selectedUser?.id === user.id"
                      >
                        <app-icon
                          [name]="
                            selectedUser?.id === user.id
                              ? 'check-circle-fill'
                              : 'person-plus-fill'
                          "
                          size="16"
                        ></app-icon>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div>
                <small
                  *ngIf="selectedUser"
                  class="text-success d-block mt-2 d-flex align-items-center"
                  style="font-size: 0.75rem"
                >
                  <span
                    ><b>{{ selectedUser.strUserName }}</b></span
                  >
                  <span class="ms-1">was selected</span>

                  <a
                    role="button"
                    (click)="cancelSelection()"
                    class="ms-2 cancel-icon"
                    title="Cancel Selection"
                  >
                    <app-icon name="x-circle" size="16" color="red"></app-icon>
                  </a>
                </small>
              </div>

              <!-- Mensaje si no hay usuarios -->
              <div
                *ngIf="filteredUsers.length === 0"
                class="text-center text-muted mt-3"
              >
                No independent users available.
              </div>

              <!-- Paginación -->
              <nav *ngIf="totalPages > 1" class="mt-3">
                <ul class="pagination justify-content-center mb-0">
                  <li class="page-item" [class.disabled]="currentPage === 1">
                    <a class="page-link" (click)="prevPage()">
                      <app-icon
                        name="caret-left-square-fill"
                        size="16"
                      ></app-icon>
                    </a>
                  </li>
                  <li class="page-item disabled">
                    <span class="page-link pt-2" style="font-size: 13px">
                      Page {{ currentPage }} of {{ totalPages }}
                    </span>
                  </li>
                  <li
                    class="page-item"
                    [class.disabled]="currentPage === totalPages"
                  >
                    <a class="page-link" (click)="nextPage()">
                      <app-icon
                        name="caret-right-square-fill"
                        size="16"
                      ></app-icon>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>

          <!-- Paso 2 -->
          <div class="configuration-package-section" *ngIf="step2">
            <div
              class="d-flex align-items-center pb-3 mb-2"
              style="border-bottom: 1px solid var(--sidebar-background-color)"
            >
              <div class="title-form">SELECT A PACKAGE</div>
            </div>

            <!-- Buscador -->
            <div
              class="card p-0 mb-1"
              style="background-color: rgb(243, 239, 255)"
            >
              <div class="card-body py-2 px-3">
                <small class="text-muted">
                  <label class="form-label mb-1">
                    Enter part of the package name or description
                  </label>
                </small>

                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    [formControl]="searchPackage"
                    placeholder="Type a word here"
                    aria-label="Search packages"
                  />
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                    (click)="searchPackage.setValue('')"
                  >
                    <app-icon name="x-circle" size="16"></app-icon>
                  </button>
                </div>
                <small class="text-muted" style="font-size: 0.7rem">
                    If you can't find it, please create it in the Packages Module
                  </small>
              </div>
            </div>

            <!-- Lista de paquetes -->
            <div class="package-list mt-4">
              <small class="text-muted">List of packages found</small>

              <table
                class="table table-hover table-sm table-bordered"
                style="font-size: 13px"
              >
                <thead class="table-light">
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let pkg of paginatedPackages"
                    [class.table-success]="selectedPackage?.id === pkg.id"
                  >
                    <td>{{ pkg.name }}</td>
                    <td>{{ pkg.description }}</td>
                    <td class="text-center">
                      <button
                        class="btn btn-sm"
                        [ngClass]="{
                          'btn-success': selectedPackage?.id === pkg.id,
                          'btn-outline-primary': selectedPackage?.id !== pkg.id
                        }"
                        (click)="onSelectPackage(pkg)"
                        [disabled]="selectedPackage?.id === pkg.id"
                      >
                        <app-icon
                          [name]="
                            selectedPackage?.id === pkg.id
                              ? 'check-circle-fill'
                              : 'check-square'
                          "
                          size="16"
                        ></app-icon>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div>
                <small
                  *ngIf="selectedPackage"
                  class="text-success d-block mt-2 d-flex align-items-center"
                  style="font-size: 0.75rem"
                >
                  Package
                  <span
                    ><b>{{ selectedPackage.name }}</b></span
                  >
                  <span class="ms-1">was selected</span>

                  <a
                    role="button"
                    (click)="cancelSelectionP()"
                    class="ms-2 cancel-icon"
                    title="Cancel Selection"
                  >
                    <app-icon name="x-circle" size="16" color="red"></app-icon>
                  </a>
                </small>
              </div>

              <!-- Mensaje si no hay paquetes -->
              <div
                *ngIf="filteredPackages.length === 0"
                class="text-center text-muted mt-3"
              >
                No packages available.
              </div>

              <!-- Paginación -->
              <nav *ngIf="totalPackagePages > 1" class="mt-3">
                <ul class="pagination justify-content-center mb-0">
                  <li
                    class="page-item"
                    [class.disabled]="currentPackagePage === 1"
                  >
                    <a class="page-link" (click)="prevPackagePage()">
                      <app-icon
                        name="caret-left-square-fill"
                        size="16"
                      ></app-icon>
                    </a>
                  </li>
                  <li class="page-item disabled">
                    <span class="page-link pt-2" style="font-size: 13px">
                      Page {{ currentPackagePage }} of {{ totalPackagePages }}
                    </span>
                  </li>
                  <li
                    class="page-item"
                    [class.disabled]="currentPackagePage === totalPackagePages"
                  >
                    <a class="page-link" (click)="nextPackagePage()">
                      <app-icon
                        name="caret-right-square-fill"
                        size="16"
                      ></app-icon>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>

          <!-- Paso 3 - Configuración del contrato -->
          <div class="contract-configuration-form" *ngIf="step3">
            <!-- Título -->
            <div
              class="d-flex align-items-center pb-3 mb-2"
              style="border-bottom: 1px solid var(--sidebar-background-color)"
            >
              <div class="title-form">CONTRACT DETAILS CONFIGURATION</div>
            </div>

            <!-- Cuadro verde con usuario y paquete -->
            <div
              class="p-2 pb-0 rounded"
              style="border: 1px solid green; background-color: #f6fff6"
            >
              <table class="table p-1 pb-0">
                <tbody>
                  <tr>
                    <td style="width: 100px">
                      <small class="text-muted">User Name:</small>
                    </td>
                    <td>
                      <small class="text-muted">
                      <b>{{
                        selectedUser?.basicData?.naturalPersonData
                          ? selectedUser?.basicData?.naturalPersonData
                              ?.firstName +
                            " " +
                            selectedUser?.basicData?.naturalPersonData
                              ?.secondName +
                            " " +
                            selectedUser?.basicData?.naturalPersonData
                              ?.firstSurname +
                            " " +
                            selectedUser?.basicData?.naturalPersonData
                              ?.secondSurname
                          : selectedUser?.basicData?.legalEntityData
                              ?.businessName
                      }}</b>
                      </small>
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 100px">
                      <small class="text-muted">Package:</small>
                    </td>
                    <td>
                      <small class="text-muted">
                        <b>{{ selectedPackage?.name }}</b>
                      </small>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- Formulario -->
            <form [formGroup]="contractForm" class="mt-3">
              <div class="row mb-3">
                <div class="col-md-6">
                  <label class="form-label">Contract Value</label>
                  <div class="disabled-input">
                    {{
                      contractValue
                        | currency : "COP" : "symbol-narrow" : "1.0-0"
                    }}
                  </div>
                </div>

                <div class="col-md-6">
                  <label class="form-label">Mode</label>
                  <select class="form-select" formControlName="mode">
                    <option value="MONTHLY">Monthly</option>
                    <option value="SEMIANNUAL">Semiannual</option>
                    <option value="ANNUAL">Annual</option>
                  </select>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-6">
                  <label class="form-label">Payday</label>
                  <input
                    type="number"
                    min="1"
                    max="31"
                    class="form-control"
                    formControlName="payday"
                  />
                </div>
                <div class="col-md-6">
                  <label class="form-label">Status</label>
                  <select class="form-select" formControlName="status">
                    <option
                      *ngFor="let status of statusOptions"
                      [value]="status"
                    >
                      {{ status }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-6">
                  <label class="form-label">Start Date</label>
                  <input
                    type="date"
                    class="form-control"
                    formControlName="startDate"
                  />
                </div>
                <div class="col-md-6">
                  <label class="form-label">End Date</label>
                  <input
                    type="date"
                    class="form-control"
                    formControlName="endDate"
                  />
                </div>
              </div>
            </form>
          </div>

          <!-- Footer con los botones -->
          <div class="form-buttons">
            <button
              id="prevBtn"
              type="button"
              class="btn btn-outline-dark btn-sm me-4 btn-fixed-width"
              [disabled]="!(step3 || (step2 && !step1))"
              (click)="goToStep(-1)"
            >
              <svg fill="currentColor" viewBox="0 0 16 16" class="status-icon">
                <use
                  xlink:href="./assets/icons/bootstrap-icons.svg#arrow-left"
                ></use>
              </svg>
              <span class="d-none d-md-inline">Previous</span>
            </button>
            <button
              type="button"
              class="btn btn-outline-dark btn-sm mx-4 btn-fixed-width"
              title="Cancel"
              (click)="onCancel()"
            >
              Cancel
            </button>
            <button
              *ngIf="step1"
              id="nextBtn"
              type="button"
              class="btn btn-outline-dark btn-sm ms-4 btn-fixed-width"
              data-bs-toggle="tooltip"
              title="Next"
              (click)="goToStep(1)"
              [disabled]="!selectedUser"
            >
              <span class="d-none d-md-inline">Next</span>
              <svg fill="currentColor" viewBox="0 0 16 16" class="status-icon">
                <use
                  xlink:href="./assets/icons/bootstrap-icons.svg#arrow-right"
                ></use>
              </svg>
            </button>
            <button
              *ngIf="step2"
              id="nextBtn"
              type="button"
              class="btn btn-outline-dark btn-sm ms-4 btn-fixed-width"
              data-bs-toggle="tooltip"
              title="Next"
              (click)="goToStep(3)"
              [disabled]="!selectedPackage"
            >
              <span class="d-none d-md-inline">Next</span>
              <svg fill="currentColor" viewBox="0 0 16 16" class="status-icon">
                <use
                  xlink:href="./assets/icons/bootstrap-icons.svg#arrow-right"
                ></use>
              </svg>
            </button>
            <button
              *ngIf="step3"
              id="sendBtn"
              type="button"
              class="btn btn-outline-dark btn-sm ms-4 btn-fixed-width"
              data-bs-toggle="tooltip"
              title="Send"
              [disabled]="contractForm.invalid"
              (click)="submitContract()"
            >
              <span class="d-none d-md-inline">Send</span>
              <svg fill="currentColor" viewBox="0 0 16 16" class="status-icon">
                <use xlink:href="./assets/icons/bootstrap-icons.svg#send"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
