<div
  class="modal fade"
  id="changePasswordModal"
  tabindex="-1"
  aria-labelledby="changePasswordModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changePasswordModalLabel">
          Password Change Form
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="mb-3">
            <label for="oldPassword" class="form-label">Old password</label>
            <input
              type="password"
              id="oldPassword"
              formControlName="oldPassword"
              class="form-control"
              required
            />
          </div>
          <div class="mb-3">
            <label for="newPassword" class="form-label">New password</label>
            <input
              type="password"
              id="newPassword"
              formControlName="newPassword"
              class="form-control"
              required
            />
          </div>
          <div class="mb-3">
            <label for="repeatPassword" class="form-label"
              >Repeat password</label
            >
            <input
              type="password"
              id="repeatPassword"
              formControlName="repeatPassword"
              class="form-control"
              required
            />
            <div
              *ngIf="
                form.get('repeatPassword')?.value !==
                  form.get('newPassword')?.value &&
                form.get('repeatPassword')?.touched
              "
              class="text-danger"
            >
              The passwords don't match.
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="
              form.invalid ||
              form.get('repeatPassword')?.value !==
                form.get('newPassword')?.value
            "
          >
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
